[include]
    path = add
    path = am
    path = bisect
    path = blame
    path = branch
    path = checkout
    path = cherry-pick
    path = clean
    path = clone
    path = commit
    path = config
    path = diff
    path = fetch
    path = help
    path = init
    path = lfs
    path = log
    path = merge
    path = prune
    path = pull
    path = push
    path = rebase
    path = remote
    path = reset
    path = revert
    path = rm
    path = stash
    path = status
    path = tag
