	a = add
	aa = add -A
    	ah = add -h
  	ap = add --patch
	aas = !"f() { git add -A; git status; }; f"
	b = branch
	ba = branch --all
	bd = branch --delete
    	bh = branch -h
	bl = branch --list
    	bu = branch --set-upstream-to
	bv = branch --verbose
	bvv = branch -vv
	c = commit
	ca = commit --all
    	ch = commit -h
	cm = commit --message
	cam = commit --all --message
	csq = commit --no-edit --squash
	casq = commit --all --no-edit --squash
	ch = checkout
  	chb = checkout -b
    	chh = checkout -h
	chm = checkout master
	chps = !"f() { git checkout $1; git pull --rebase=true --autostash; }; f"
	d = diff
	f = fetch
    	fh = fetch -h
	logn = log --oneline -n
	m = merge
	ma = merge --abort
    	mh = merge -h
	mm = merge master
	mnf = merge --no-ff
	pd = push --delete
	pf = push --force
	pu = push --set-upstream
	pp = pull --prune
	pr = pull --rebase=true
	ps = pull --rebase=true --autostash
	pt = pull --tags
	r = reset
	rb = rebase
	rba = rebase --abort
    	rbh = rebase -h
  	rbi = rebase --interactive
	rbsq = rebase --interactive --autosquash
	rs = reset --soft
	rh = reset --hard
	s = status
	sa = stash apply
	sb = stash branch
	sc = stash clear
	sd = stash drop
	sp = stash pop
	sl = stash list
	ss = stash save
	sski = stash save --keep-index
	ssnki = stash save --no-keep-index
	ssu = stash save --include-untracked
